*{
    text-align: center;
}
body {
    font-family: 'Segoe UI', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, #a49c48 0%, #8d5f22 100%);
    color: white;
    min-height: 100vh;
    align-items: center;
    
    
          
}
.input_box, .Output{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin:60px;
}
.heading{
    display:block !important;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(112, 21, 21, 0.3);
    border-radius: 40px;;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
input {
  width: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f8f8f8;
   margin-left:40px ;
}
button{
    font-size: 20px;
    padding:15px;
    border-radius: 40%;
    margin:10px;
    background-color: #20819e;

    
}
button:hover{
    transform: scale(1.2);
    color: rgb(61, 21, 139);
    transition: transform 0.2s ease;
    background-color: #4fa118;

}
.Output{
    align-items: center;
    text-align: center;
}
.whole{
    background-color: rgba(134, 42, 127, 0.3) ;
    margin: 40px;
    padding:40px;
    border-radius: 30%;
    
}